// Place all the styles related to the api/blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#blog-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    margin: 0;
}

#latest-post-preview > * {
    margin: 1.5em;
}

#blog-show-page a:hover {
    background-color: lightgray;
}

#post-index-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#blog-show-container a {
    color: black;
}

#latest-post-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60em;
    margin: auto;
}

.latest-post-preview-content-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.post-preview-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 0.5vw 0 0;
}

.post-preview-container:hover,
#latest-post-preview:hover {
    background-color: rgb(238, 236, 236);
}

.post-preview-container {
    width: 100%;
}

#blog-nav-link-list {
    border-bottom: 0.1em solid lightgray;
    list-style: none;
    width: 35%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

#blog-nav-link-list > * {
    color: gray;
    margin: 0 1em 1em 0;
}

.active {
    border-bottom: blue;
    color: blue;
}

.post-preview-container,
#latest-post-preview-container {
    position: relative;
}

#latest-post-preview-container .dropdown-container {
    position: absolute;
    bottom: 1em;
    left: 2em;
    width: 5%;
    height: 5%;
}

// Below is styling for the blog search results page

#blog-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 9vh 0;
}

#blog-search-page-header {
    font-weight: lighter;
    font-size: 5.5vw;
    margin: 12vh 0 2vh 0;
}

#blog-search-page-p {
    font-size: 1.4vw;
}


.blog-preview-container {
    display: flex;
    flex-direction: row;
    margin: 3vh 0 0 0;
    cursor: pointer;
    width: 50vw;
}

.blog-preview-container:visited {
    text-decoration: none;
}

.blog-previews-container {
    margin: 4vh 0 0 0;
    display: flex;
    flex-direction: column;
}

.blog-preview-text {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 0.15vh solid lightgray;
    width: 34vw;
    margin: 0 0 0 2vw;
    padding: 0 0 4.25vh 0;
}

.blog-preview-text > * {
    margin: 0 0 1.25vh 0;
    color: #544740;
    width: 100%;
}

.search-results-content-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
}

.search-results-content-body #search-bar-form-container {
    margin: 5vh 0;
    width: 88%;
}

#search-bar-form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

#blog-search-container #search-bar-form {
    width: 100%;
}

#search-bar-form > input {
    width: 100%;
    padding: 0.5vw 0;
}

.blog-preview-container .blog-preview-image {
    width: 7.5vw;
    height: 7.5vw;
    border: 0.04vh solid lightgray;
}

.blog-preview-title {
    font-size: 3.2vh;
    font-weight: bold;
    color: #392d1f;
    height: fit-content;
}

.blog-preview-details {
    font-size: 1.4vh;
}

.blog-preview-image-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
}








