// Place all the styles related to the api/blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#blog-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    margin: 0;

    #blog-nav-link-list a {
        padding: 0 0 2px 0;
        margin: 2em 1.25em 0 0;
    }

    .active {
        color: lightskyblue;
    }
}

.blog-banner {
    .delete-button {
        background-color: rgb(187, 16, 16);
        padding: 1vh 1vw;
        color: white;
        border-radius: 7.5%;
    }

    a {
        padding: 1vh 1vw;
        color: rgb(187, 16, 16);
        border-radius: 7.5%;
        border: 0.05vh solid #f8f8f8;
    }
}

#blog-show-page a:hover {
    background-color: lightgray;
}

#post-index-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#latest-post-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60vw;
    margin: 4vh 0 0 0;    
    cursor: pointer;
}

.latest-post-preview-content-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 0 0 2em;
}

.post-preview-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 0.5vw 0 0;
}

.post-preview-container:hover,
#latest-post-preview:hover {
    background-color: rgb(238, 236, 236);
}

.post-preview-container {
    padding: 0 2vw;
    width: 40vw;
    cursor: pointer;
}

.created_at {
    margin: 4px 0;
}

#blog-nav-link-list {
    list-style: none;
    width: 35%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    border-bottom: .1vh solid lightgray;
}

#blog-nav-link-list > * {
    color: gray;
    margin: 0 1em 1em 0;
}

.active {
    border-bottom: blue;
    color: blue;
}

.post-preview-container,
#latest-post-preview-container {
    position: relative;
}

#latest-post-preview-container .dropdown-container {
    position: absolute;
    bottom: 1em;
    left: 2em;
    width: 5px;
    height: 5px;
}

// Below is styling for the blog search results page

#blog-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 9vh 0;
}

#blog-search-page-header {
    font-weight: lighter;
    font-size: 5.5vw;
    margin: 12vh 0 2vh 0;
    max-width: 700px;
}

#blog-search-page-p {
    font-size: 1.4vw;
}


.blog-preview-container {
    display: flex;
    flex-direction: row;
    margin: 3vh 0 0 0;
    cursor: pointer;
    width: 50vw;
}

.blog-preview-container:visited {
    text-decoration: none;
}

.blog-previews-container {
    margin: 4vh 0 0 0;
    display: flex;
    flex-direction: column;
}

.blog-preview-text {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 0.15vh solid lightgray;
    width: 34vw;
    max-width: 400px;
    margin: 0 0 0 2vw;
    padding: 0 0 4.25vh 0;
}

.blog-preview-text > * {
    margin: 0 0 1.25vh 0;
    color: #544740;
    width: 100%;
}

.search-results-content-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
}

.search-results-content-body #search-bar-form-container {
    margin: 5vh 0;
    width: 88%;
    max-width: 400px;
}

#search-bar-form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

#blog-search-container #search-bar-form {
    width: 100%;
}

#search-bar-form > input {
    width: 100%;
    padding: 0.5vw 0;
}

.blog-preview-container .blog-preview-image {
    width: 7.5vw;
    height: 7.5vw;
    border: 0.04vh solid lightgray;
    max-width: 84px;
    max-height: 84px;
}

.blog-preview-title {
    font-size: 3.2vh;
    font-weight: bold;
    color: #392d1f;
    height: fit-content;
}

.blog-preview-details {
    font-size: 1.4vh;
}

.blog-preview-image-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
}








