// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
}