// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    border-left: 0.1em solid lightgray;
    padding: 1em 0 0 1em;
}

.comment-reply-button {
    background-color: white;
    color: darkgray;
    font-size: 0.75em;
    border: none;
}

.comment-body-field {
    outline: normal;
    border: lightblue;
}

.comment-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

