// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment > .comment {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    border-left: 0.1em solid lightgray;
}

.comment {
    margin-left: 0;
    padding: 0 0 0 3vw;  
    margin: 1vh 0 0 0; 
    width: 100%; 
}

.comment-reply-button {
    background-color: white;
    color: darkgray;
    font-size: 0.75em;
    border: none;
    cursor: pointer;
    height: 22px;
    display: flex;
    align-items: flex-end;
}

.comment-body-field {
    border: 0.1em solid lightgray;
    resize: none;
    border-radius: 5%;
    outline: rgb(28, 179, 230);
}

.comment-body-and-buttons p {
    text-overflow: normal;
}

.comment-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.comment-form-container {
    width: fit-content;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form-button-container {
    display: flex;
    flex-direction: row;
    > * {
        cursor: pointer;
    }
}

.comment-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.comment-banner-container {
    width: 100;
}

.comment-buttons-container > *:last-child {
    padding: 0 0 0 1vw;
}

.comment-body-field {
    width: 33vw;
    z-index: 101;
}

.comment .dropdown-container {
    position: -webkit-sticky;
}

.comment-date {
    margin: 0 0 0 0.75vw;
    width: 100%;
}

.comment-submit-button {
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15%;
    font-size: 1.8vh;
    padding: .75vh 0.5vw;
    margin: 1vh 0 0 0;
}

.comment-cancel-button {
    background-color: white;
    border: none;
    color: gray;
    padding: .75vh 0.5vw;
    margin: 1.1vh 0 0 0;
}



