// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#comments-section {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 0.08em solid lightgray;
}

#post-content-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#post-title,
#post-header,
#post-subtitle {
    line-height: 1.25;
}

#post-body-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#post-body {
    line-height: 1.75;
    font-size: large;
    white-space: pre-wrap;
    
}


#comments-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding-bottom: 7vh;
}

#comments-container-banner-text {
    color:gray;
    margin: 2em 0;
}






