// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#post-container {
    display: flex;
    flex-direction: column;
}

#post-container #post-body, 
#post-title-container, 
#post-subtitle-container {
    margin: 0 28%;
    margin-top: 2%;

}

#post-title,
#post-header,
#post-subtitle {
    margin: 0;
    line-height: 1.25;
}

#post-body {
    line-height: 1.75;
    font-size: large;
}

