#post-form-container {
    display: flex;
    flex-direction: column;
    padding: 0 15% 0 15%;
    width: 100%;
    height: 100em;
}


#post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#post-form > input, textarea {
    width: 42%;
    margin: 0.1em auto;
    height: 3%;
    border: none;
    outline: none;
}

#post-title::placeholder  {
    font-size: 2vw;
    font-weight: bold;
    text-justify: center;
}

#post-title {
    font-size: 2vw;
}

#post-subtitle::placeholder  {
    font-size: 1vw;
}

#post-subtitle {
    font-size: 1vw;
}

#post-form > button {
    width: 100%;
    height: 3em;
}

#post-body {
    height: 75%;
    font-size: 1.5em;
}

#bottom-buttons-container {
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 1.5em 0;
    border-top: .085em solid lightgray;
}

#post-submit-button, 
#post-unsubmittable-button {
    height: 100%;
    padding: 1em;
    border-radius: 2%;
    color: white;
    margin-left: 80%;
}

#post-unsubmittable-button {
    background-color: lightgray;
    cursor: not-allowed;
}

#post-submit-button {
    background-color: purple;
}

