.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 20%;
}

#user-form-container > * {
    margin: 10px;
}

.user-form button {
    height: 50px;
    width: 100px;
}

.user_form img {
    height: 4em;
    width: 3.75em;
}

.user-form > * {
    width: 50%;
    outline: none;
}

.user-form > textarea {
    resize: none;
}


.user-form > input {
    width: 50%;
    height: 2%;
    padding: 2%;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}

.user-form > textarea {
    width: 50%;
    height: 1%;
    padding: 2%;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    line-height: 1.5;
}

input:-webkit-autofill {
    background-color: white;
}

input:autofill {
    background-color: white;
}

.user-form > input:first-of-type {
    border-top: 1px solid lightgray;
}

.user-form > input:last-of-type {
    margin-bottom: 1.5em;
}

#user-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#demo-user-login-button {
   background-color: grey;
   color: white;
   margin-top: 10px;
   border-radius: 4px;

}

.orange-span {
    color: orange;
    margin-left: 0.25em;
}
