.authors-buttons-container > a:first-child {
    background-color: lightsalmon;
    color: white;
    border-radius: 5%;
}

.authors-buttons-container > a:last-child {
    background-color: white;
    color: lightsalmon;
    border: 0.1em solid lightsalmon;
    border-radius: 5%;
    margin-left: 1em;
}  

#blog-banner-container > * {
    // margin: 0.1em;
    padding: 0.5em;
}

#blog-banner-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0.1em solid lightgray;
    padding: 1vh 0;
    margin: 0;
    width: 100%;
}

.blog-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: 4vh;
    margin: auto;
    
    .authors-buttons-container {
        display: flex;
        flex-direction: row;
        
        a {
            margin-left: 8px;
        }
    }
}

.blog-banner a, .button {
    cursor: pointer;
}

.image-and-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#top-bar-blog-title {
    margin: 0 0 0 1vw;
}