
.subscribed, .not-subscribed {
    color: white;
    background-color: lightskyblue;
    border-radius: 5%;
    border: none;
    padding: 0 1vw;
    font-size: 1.7vh;
}

.liked, .not-liked {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 0 1vw;
    width: 2.5vw;
    max-width: 30px;
}

.not-liked .heart::after {
    content: '\2764';
    width: 3vw;
    height: 3vw;
    color: lightgray;
}

.liked  .heart::after {
    content: '\2764';
    width: 3vw;
    height: 3vw;
    color: red;
}

.like-count {
    color: inherit;
}
