.not-liked .heart::after {
    content: '\2764';
    width: 3vw;
    height: 3vw;
    color: gray;
}

.liked  .heart::after {
    content: '\2764';
    width: 3vw;
    height: 3vw;
    background-color: white;
    color: red;
}


