#splash-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .blog-preview-text {
        position: relative;
    }

    // .dropdown-container {
    //     bottom: 0;
    //     left: 0;
    //     position: absolute;
    // }
}

#splash-content  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    padding: 4% 25%;
}

#splash-content p {
    font-size: 17px;
    line-height: 1.5;
}

.blurb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blurb > * {
    overflow-wrap: normal;
    margin: 30px 90px;
    display: flex;
    flex-direction: column;
}

.blurb img {
    height: 300px;
    width: 300px;
}

#splash-content-banner * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#splash-content-banner > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
}

#splash-content-banner * .orange-button {
    justify-content: center;
    word-wrap: normal;
    margin-top: 4%;
}

#splash-content-banner > h1 {
    font-size: 60px;
    min-width: 845px;
}

#splash-content-banner > p {
    width: 58%;
    margin: auto;
    text-align: center;
    min-width: 600px;
}

#blurb-index {
    background-color: white;
    > * {
        min-width: 860px;
    }
}

.blurb-text-container {
    margin: 10px;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    height: 35vh;
    min-width: 340px;
    width: 35%;
    padding: 3.2%;
    h1 {
        font-size: 125%;
        margin: 0 0 7% 0;
    }

    span {
        margin: 0 0 5% 0;
        font-size: 150%;
    }
    .orange-button{
        width: 100%;
        padding: 1.5vh 0; 
    }

    > select {
        width: 100%;
        height: 20%;
        margin: 0 0 6% 0;
    }
}

#calculator > * {
    margin: 0;
}

#calculator-and-small-blurb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 860px;
    padding: 0 auto;
    #small-blurb {
        padding: 15px;
    }
}

#calculator-and-small-blurb > h1 {
    font-size: 1.25vh;
    margin: 0 auto;
}

#blog-index {
    display: flex;
    flex-direction: row;
    min-width: 30vw;
}

.category-button {
    padding: 1.2vw 0.8vh;
    border: 0.1vh solid black;
    border-radius: 3.5px;
    cursor: pointer;
    margin: 0 0 0 6px;
    height: fit-content;
}

.category-buttons-row {
    display: flex;
    flex-direction: row;
    margin: 4px 0 0 0;
}

#category-buttons-container {
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.blog-preview-text:last-of-type {
    display: flex;
    flex-direction: column;
}

