#splash-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#splash-content  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    padding: 4% 25%;
}

#splash-content p {
    font-size: 17px;
    line-height: 1.5;
}

.blurb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blurb > * {
    overflow-wrap: normal;
    margin: 30px 90px;
    display: flex;
    flex-direction: column;
}

.blurb img {
    height: 300px;
    width: 300px;
}

#splash-content-banner * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#splash-content-banner > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
}

#splash-content-banner * .orange-button {
    justify-content: center;
    word-wrap: normal;
    margin-top: 4%;
}

#splash-content-banner > h1 {
    font-size: 60px;
}

#splash-content-banner > p {
    width: 58%;
    margin: auto;
    text-align: center;
}

#blurb-index {
    background-color: white;
}

.blurb-text-container {
    margin: 10px;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
}

#calculator > * {
    margin: 10px 10px 0 10px;
}

#calculator > select {
    width: 375px;
    height: 43px;
}

#calculator-and-small-blurb {
    display: flex;
    flex-direction: row;
}

#calculator-and-small-blurb > div {
    padding: 15px;
}

#calculator-and-small-blurb > h1 {
    font-size: 6px;
}


