#top-bar {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;

    > * {
        display: flex;
        align-items: center;
    }

    #left-top-bar {
        display: flex;
        flex-direction: row;
    }

    form {
        width: 35%;
        margin: 0;
        max-width: 500px;
    }
    
    #search-bar {
        width: 100%;
        height: 3vh;
    }
}



#right-top-bar {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 2% 0 0;
}

#right-top-bar > * {
    margin-right: 1vw;
}


#full-stack-icon {
    width: 2.5vw;
    max-width: 24px;
    max-height: 25px;
    height: 3vw;
    margin: 0 0 0 2%;
}

.orange-button {
    background-color: rgb(255, 166, 0);
    color: white;
    border-radius: 4px;
    height: 20px;
    width: fit-content;    
    text-align: center;
    padding: 8px 10px;
    display: inline-block;   
}

#user-icon {
    border-radius: 50%;
    height: 45%;
    width: 45%;
    margin-left: 5%;
}

#icon-menu-container {
    position: relative;
    cursor: pointer;
}

#icon-menu-container > ul {
    list-style: none;
    position: absolute;
    cursor: pointer;
}



#icon-menu-container > ul.revealed {
    padding: 0 1em;
    border: 0.1em solid lightgray; 
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    width: fit-content;
}

ul.revealed > *:hover {
    background-color: #f8f8f8;
}

ul.revealed  * {
    width: fit-content;
    background-color: white;
    z-index: 100;
}

#top-bar-blog-image {
    height: 45px;
    width: 45px;
}

#top-bar .dropdown-container {
    padding-right: 0.5em;
}

.back-button-bar {
    margin: 2em 0 0 2em;
}

.back-button::after {
    content: '\003C';
    color: black;
    background-color: #f8f8f8;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    padding: .75em 1em;
    cursor: pointer;
}







