#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-bar > * {
    display: flex;
    align-items: center;
}


#left-top-bar {
    display: flex;
    flex-direction: row;
}

#right-top-bar {
    display: flex;
    flex-direction: row;
}

#right-top-bar > * {
    margin-right: 10px;
}


#full-stack-icon {
    width: 30px;
    height: 28px;
    margin: 10px;
}

.orange-button {
    background-color: rgb(255, 166, 0);
    color: white;
    border-radius: 4px;
    height: 20px;
    width: 100px;
    text-align: center;
    padding: 8px 10px;
}



#user-icon {
    border-radius: 50px;
}

#search-bar-form {
    width: 400px;
    margin-left: 25px;
}

#search-bar {
    width: 385px;
    height: 30px;
}

#top-bar {
    border-bottom: 1px solid lightgray;
}

#blog-banner {
    margin: auto;
}

#blog-banner > * {
    margin: 15px;
}

#top-bar-blog-image {
    height: 45px;
    width: 45px;
}



