#top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-bar > * {
    display: flex;
    align-items: center;
}


#left-top-bar {
    display: flex;
    flex-direction: row;
}

#right-top-bar {
    display: flex;
    flex-direction: row;
}

#right-top-bar > * {
    margin-right: 10px;
}


#full-stack-icon {
    width: 30px;
    height: 28px;
    margin: 10px;
}

.orange-button {
    background-color: rgb(255, 166, 0);
    color: white;
    border-radius: 4px;
    height: 20px;
    width: fit-content;    
    text-align: center;
    padding: 8px 10px;
    display: inline-block;   
}

#user-icon {
    border-radius: 50%;
    height: 45%;
    width: 45%;
    margin-left: 5%;
}

#icon-menu-container {
    position: relative;
    cursor: pointer;
}

#icon-menu-container > ul {
    list-style: none;
    position: absolute;
    cursor: pointer;
}



#icon-menu-container > ul.revealed {
    padding: 0 1em;
    border: 0.1em solid lightgray; 
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    width: fit-content;
}

ul.revealed > *:hover {
    background-color: #f8f8f8;
}

ul.revealed  * {
    width: fit-content;
    background-color: white;
    z-index: 100;
}

#search-bar-form {
    width: 400px;
    margin-left: 25px;
}

#search-bar {
    width: 385px;
    height: 30px;
}

#top-bar-blog-image {
    height: 45px;
    width: 45px;
}

#top-bar .dropdown-container {
    padding-right: 0.5em;
}





