.user-form {
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
    align-items: center;
    justify-content: center;
}

#user-form-container > * {
    margin: 10px;
}

.user-form button {
    height: 50px;
    width: 100px;
}

.user_form img {
    height: 45px;
    width: 43px;
}

.user-form > * {
    width: 325px;
    border-bottom: 1px solid grey;
    outline: none;
}

.user-form > textarea {
    height: 200px;
}


.user-form input {
    width: 400px;
    margin-bottom: 10px;
    height: 55px;
    padding: 16px;
    font-size: 16px;
    box-sizing: border-box;
}

#user-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#demo-user-login-button {
   background-color: grey;
   color: white;
   margin-top: 10px;
   border-radius: 4px;

}

